/* Delete default settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Section first style */
#container{
    width: 100%;
    height: 1000px;
    background: url(IMG/Back.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
#containerMain{
    width: 1600px;
    height: 848px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 51px;
}
#homeHeader{
    width: 100%;
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}
#logoPlace{
    width: 242px;
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
#logoPlace a{
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: .5s;
}
#logoPlace svg{
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: .5s;
}
#menuLanguages{
    width: 977px;
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}
#homeNav{
    width: 890px;
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
#homeNav ul{
    width: 100%;
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: .5s;
}
#homeNav ul li{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 32px;
    font-weight: normal;
    list-style: none;
    transition: .5s ;
    cursor: pointer;
}
#homeNav ul li:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 4px;
    text-decoration-color: #FFBB00;
}
li.active{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 4px;
    text-decoration-color: #FFBB00;
}
#languagesPlace{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: .5s;
}
#languagesPlace i{
    width: 60px;
    height: 60px;
    font-size: 36px;
    text-align: center;
    line-height: 60px;
    color: #FFBB00;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}
#languagesPlace i:hover{
    color: white;
    background-color: #FFBB00;
}
#languages{
    width: 100px;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 60px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    display: none;
    transition: .5s;
}
#languages li{
    width: 100%;
    height: 24px;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    border-radius: 10px;
    transition: all .5s ease-in;
}
#languages li a{
    color: inherit;
    text-decoration: none;
}
#languages li:hover{
    background-color: rgba(255, 255, 255, 0.6);
}
#languagesPlace:hover #languages{
    display: flex;
}
#languagesPlaceClick{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    display: none;
}
#languagesPlaceClick i{
    width: 60px;
    height: 60px;
    font-size: 36px;
    text-align: center;
    line-height: 55px;
    color: #FFBB00;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}
#languagesPlaceClick i:hover{
    color: white;
    background-color: #FFBB00;
}
#languagesClick{
    width: 100px;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 55px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    display: none;
    transition: .5s;
}
#languagesClick li{
    width: 100%;
    height: 24px;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    border-radius: 10px;
    transition: all .5s ease-in;
}
#languagesClick li a{
    color: inherit;
    text-decoration: none;
}
#languagesClick li:hover{
    background-color: rgba(255, 255, 255, 0.6);
}
#burgerIcon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    transition: .5s;
}
#burgerIcon i{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-size: 36px;
    color: #FFBB00;
    text-align: center;
    line-height: 60px;
    transition: .5s;
    cursor: pointer;
}
#burgerIcon i:hover{
    background-color: #FFBB00;
    color: white;
}
#sloganPlace{
    width: 551px;
    height: 101px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 107.5px;
    transition: .5s;
}
#sloganPlace h3{
    width: 551px;
    height: 78px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 84px;
    line-height: 80px;
    transition: .5s;
}
#sloganPlace h3::after{
    content: "";
    width: 100%;
    height: 16px;
    background-color: #FFBB00;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transition: .5s;
}
#buttonPlace{
    width: 347px;
    height: 151px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}
#buttonPlace button{
    width: 100%;
    height: 80px;
    background-color: #FFBB00;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 42px;
    transition: all .5s ease-in;
}
#buttonPlace button:hover{
    border: 4px solid #FFBB00;
    background-color:rgba(255, 255, 255, 0.6);
    color: #FFBB00;
}
#scrollDown{
    width: 100%;
    height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#scrollDown i{
    font-size: 50px;
    line-height: 25px;
    color: white;
}
#scrollDown i:nth-child(2){
    font-size: 42px;
}
#forMenu{
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.750);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    display: none;
}
#burgerMenu{
    width: 305px;
    height: 100vh;
    background-color: #07002D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    right: -305px;
    transform: 4s;
}
#navClose{
    width: 275px;
    height: 112px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 25px;
}
#navClose{
    color: white;
    font-size: 30px;
    cursor: pointer;
}
#menuUl{
    width: 275px;
    height: 835px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
#menuUl li{
    width: 275px;
    height: 41.1px;
    color: rgba(255,255,255,0.5);
    font-family: 'Avenir', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: start;
    list-style: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
#menuUl i{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
#menuUl li.brgActive{
    color: #00D1FF;
}
#menuUl li:hover{
    color: #00D1FF;
}

/*Services section style*/
#servContainer{
    width: 100%;
    min-height:1328px;
    background: url(IMG/serviceBg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: none;
}
#servHeader{
    width: 100%;
    height: 168px;
    background-color: #202B48;
    border-radius: 0 0 100px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#servHeaderMain{
    width: 1600px;
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}
#servContainerMain{
    width: 1600px;
    height: 1000px;
    /* background-color: aquamarine; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    transition: .5s;
}
#servInfoPlace{
    width: 700px;
    height: 100%;
    background-color: rgb(233, 250, 252);
    border-radius: 40px;
    box-shadow: 0 0 25px #FFBB00;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 40px;
    transition: .5s;
}
#servInfoPlace p{
    font-size: 20px;
    color: #202B48;
    font-family: 'Nunito', sans-serif;
    transition: .5s;
}
#servSloganPlace{
    width: 600px;
    height: 148px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
#servSloganPlace h3{
    width: 600px;
    height: 88px;
    text-transform: uppercase;
    color: #202B48;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 90px;
    line-height: 40px;
    transition: .5s;
}
#servSloganPlace h3::after{
    content: "";
    width: 600px;
    height: 16px;
    background-color: #FFBB00;
    border-radius: 5px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .5s;
}

/* About us section style */
#abUsContainer{
    width: 100%;
    min-height:1228px;
    background: url(IMG/AboutUsBg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: none;
}
#abUsHeader{
    width: 100%;
    height: 168px;
    background-color: #202B48;
    border-radius: 0 0 100px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#abUsHeaderMain{
    width: 1600px;
    height: 87px;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#abUsContainerMain{
    width: 1600px;
    height: 800px;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    transition: .5s;
}
#abUsSloganPlace{
    width: 600px;
    height: 148px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#abUsSloganPlace h3{
    width: 600px;
    height: 88px;
    text-transform: uppercase;
    color: #202B48;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 90px;
    line-height: 40px;
    transition: .5s;
}
#abUsSloganPlace h3::after{
    content: "";
    width: 600px;
    height: 16px;
    background-color: #FFBB00;
    border-radius: 5px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .5s;
}
#abUsInfoPlace{
    width: 1600px;
    height: 247px;
    /* background-color: black; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    transition: .5s;
}
#abUsInfoPlaceMain{
    width: 1600px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
#abUsInfoPlaceMain p{
    color: white;
    text-shadow: 2px 2px 2px #FFBB00;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 100px;
    transition: .5s;
}

/* Contacts section style */
#contContainer{
    width: 100%;
    min-height:1128px;
    background: url(IMG/contactsBg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: none;
}
#contHeader{
    width: 100%;
    height: 168px;
    background-color: #202B48;
    border-radius: 0 0 100px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contHeaderMain{
    width: 1600px;
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}
#contContainerMain{
    width: 1600px;
    height: 800px;
    /* background-color: aquamarine; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    transition: .5s;
}
#contInfoPlace{
    width: 700px;
    height: 30%;
    /* background-color: rgb(233, 250, 252); */
    background-color: #202b48d3;
    border-radius: 40px;
    box-shadow: 0 0 25px #FFBB00;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 40px;
    transition: .5s;
}
#contInfoPlace p{
    font-size: 20px;
    color: #FFBB00;
    font-family: 'Nunito', sans-serif;
    transition: .5s;
}
#contSloganPlace{
    width: 600px;
    height: 148px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
#contSloganPlace h3{
    width: 600px;
    height: 88px;
    text-transform: uppercase;
    color: #202B48;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 90px;
    line-height: 40px;
    transition: .5s;
}
#contSloganPlace h3::after{
    content: "";
    width: 600px;
    height: 16px;
    background-color: #FFBB00;
    border-radius: 5px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .5s;
}